/* Aesthetics.css */

header{
    font-size: 2.7em;
    padding: 20px;
    background-color: black;
    text-align: center;
    color: #c8a2c8 ;
    
    
}

header img{
    float: none;
    width: 100px;
    height: 100px;
    align-items: center;
}
header h1{
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

body {
    background-color: black;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: center;
    font-family: sans-serif;
}
nav{
    background-color: red;
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: medium;
    
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav a{
    text-decoration: none;
    padding: 50px;
    color: white;
}

nav ul li ul{
    position: absolute;
    display: none;
    background-color: #333;
    z-index: 99999;
    padding:10px
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a{
    display: block;
    text-align: center;
    padding: 10px;
    
}
main {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

input[type=text], textarea{
    padding: 1em 1em 1em 1em;
    margin: 1em 0 1em 0;
    width: 100%;
}

a{
    color: white;
}

a:hover{
    color: black;
}

.pic{
    width: 40%;
    float: left;
    padding-left: 30px;
    padding-top: 40px;
}

.pic img{
    width: 80%;
    height: 60%;
}

.bio{
    float: right;
    width: 50%;
    padding-left: 10px;
    padding-top: 40px;
    padding-right: 30px;
}

.clearfix{
    clear: both;
}

footer{
    color: white;
}

table {
    border-collapse: collapse;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.5em;
}
/* code for the events page to improve the table */
table, th, td {
    border: 1px solid black;
}
tr:nth-child(even) {background-color: rgb(240, 44, 221);}
tr:first-child {background-color: rgb(149, 38, 182);}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 4px;

  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 300px;
    max-height: 300px;
  }

  .group img{
      align-items: center;
      width: 90%;
  }

  .grouptext{
      text-align: center;
      font-size: large;
      list-style: none;
      text-decoration: none;
  }

  .grouptext ul{
      list-style: none;
      text-align: center;
  }

  .banner img{
      width: 70%;
  }